@use '../../../layout/animations';
@use '../../../layout/colours';


.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 4em;
    margin-left: 2.25em;
}

.title {
    color: white;
    font-size: 2.35em;
}

.list {
    width: 100%;
    overflow: hidden;
    height: 38.4vh;
    position: relative;
    cursor: grab;
    user-select: none;
}

.plane {
    display: flex;
    align-items: center;
    position: absolute;
    user-select: none;

    left: 0;
    top: 0;
    height: calc(100% - .1em);
}

.testimonial {
    display: flex;
    flex-direction: column;
    width: 70.5vw;
    height: 100%;
    align-items: center;
    padding: .45em;
    margin-right: .5em;
    background: linear-gradient(104deg, #FFF 1.24%, #DBDBDB 100%);
    border-radius: .5em 0 0 0;
    box-sizing: border-box;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    color: black;
    margin-bottom: 1.35em;
}

.company {
    font-weight: 300;
    font-size: .925em;
    margin-top: .35em;
    margin-bottom: .125em;
    color: rgb(44, 44, 44);
}
.name {
    font-weight: 200;
    font-size: .775em;
    color: rgb(80, 80, 80);
}

.text {
    // align-self: flex-start;
}

.quote {
    line-height: 1.2em;
    font-weight: 100;
    margin: 0 0 1.5em;

    &:before, &:after {
        display: inline-block;
        content: '"';
        font-size: 2em;
        line-height: 0;
        transform: translateY(.25em);
    }

    &:before {
        padding-right: .15em;
    }

    &:after {
        padding-left: .15em;
    }
}

.report {
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-weight: 300;
    transition: padding .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  
    &:hover {
      color: white;
      text-decoration: underline;
      background: rgb(44, 44, 44);
      padding: .35em;
    }
}
  

@media screen and (min-width: 1200px) {

    .title {
        font-size: 3em;
    }

    .testimonials {
        padding: 3.5em 3.5em 7em;
        margin-left: 0;
    }

    .list {
        height: 27.4vh;
    }

    .testimonial {
        width: 39.5vw;
        flex-direction: row;
        margin-right: 2.5vw;
        padding: 2.5em;
    }

    .brand {
        flex: 6.5em 0 0;
        margin-right: 2.85em;
        margin-bottom: 0;
    }

}
