
@use '../../../layout/animations';
@use '../../../layout/colours';

/* introb and scroll icon disappear after scrolling, menu appears based on scrolling */
.intro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    position: absolute;
    font-size: 1.5em;
    
    color: white;
    box-sizing: border-box;
    text-align: center;
    pointer-events: none;
    z-index: 1;

    animation: end-intro .33s linear forwards;
    animation-delay: 5s;
    will-change: height, opacity;
}

.logo {
    width: 14em;
    margin-bottom: 1.5em;
}

.introtitle {
    font-size: 1.35em;
    margin: 0;
    font-weight: 200;
}

.introblurb {
    font-size: 0.85em;
    margin: 0;
    color: rgb(191, 191, 191);
    margin-bottom: 1em;
    font-weight: 100;
}

@media screen and (min-width: 800px) {
    .introtitle {
        font-size: 1.85em;
        width: 175em;
    }

    .introblurb {
        font-size: 1.35em;
    }
}
