
@use '../animations';


.fab {
    display: block;
    width: 7.5em;
    position: fixed;
    bottom: .85em;
    right: 2.125em;
    cursor: pointer;
    z-index: 3;

    padding: 0;

    background: none;
    border: none;
}

.fab:hover {
    & .fabtext > path {
        fill: #E0E0E0;
    }
    & .fabicon > path {
        fill: #E0E0E0;
    }
}

.fabtext {
    animation: spin animations.$fabspinduration linear infinite 1s;
}

.fabicon {
    position: absolute;

    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: bulge animations.$fabspinduration linear infinite 1s forwards;
    transform: translateY(.75em);
}


@media screen and (min-width: 645px) {
    .fab {
        width: 6.5em;
        bottom: 1.85em;
        right: 4.25em;
    }
}