@use '../../../layout/animations';
@use '../../../layout/colours';

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.heading {
  font-size: 1.65em;
  margin-bottom: 1.5em;
  margin-left: 2em;
}

.preamble {
  font-size: .5em;
  font-weight: bold;
}

.title {
  margin: 0;
}

.list {
  margin-left: 1.5em;
}

.service {
  display: flex;
  flex-direction: column;
  flex: calc(25% - 1em) 0;
  padding: 0 1em;
  box-sizing: border-box;
  margin-bottom: 1.5em;
}

.name {
  font-size: 1.45em;
  font-weight: 500;
  margin-bottom: .925em;
}

.example {
  margin-bottom: .5em;
  font-weight: 200;
  color: rgb(226, 226, 226);
  line-height: 1.25em;
  position: relative;
  
  &:before {
    position: absolute;
    display: block;
    content: '-';
    left: -1em;
  }
}

.additional {
  font-weight: 100;
  color: rgb(165, 165, 165);
  margin: 0 1.25em;
  text-align: center;
}

.additionallink {
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-weight: 300;
  padding: .2em;
  transition: margin .25s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    color: color(srgb 0.0723 0.1028 0.2031);
    text-decoration: underline;
    background: white;
    margin: 0 .35em;
  }
}


@media screen and (min-width: 800px) {

  .services {
    padding: 3.5em;
  }

  .heading {
    font-size: 2em;
    margin-left: 0;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3em;
    margin-left: 0;
  }

  .additional {
    margin: 0;
  }
}