@use '../../../layout/animations';
@use '../../../layout/colours';

.hero {
    height: 80vh;
    overflow: hidden;
}

.title {
    color: white;
    font-size: 2.65em;
    font-weight: 400;
    margin-left: 0.5em;
    margin-top: 3.15em;
}

.projects {
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-bottom: 7.5em;
    padding: 0 2em 0;
}

.projectdesc {
    color: rgb(236, 236, 236);
    box-sizing: border-box;
}

.projectpreview {
    flex: 1;
    height: 66vh;
    margin-right: 0;
    position: relative;
}

.screen { 
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.herosimple_screen { 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screenmonitor {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    left: 0;
}

.screenbase {
    position: absolute;
    top: 32.5vw;
    width: 35vh;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.mobile {
    display: none;
    position: absolute;
    bottom: 2em; /* Slightly above the bottom */
    right: 2em;  /* Positioned towards the right */
    width: 35vw; /* Width relative to viewport */
    height: 40vh; /* Smaller height than desktop screen */
    z-index: 2;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.mobileicon {
    width: 100%;
}

.screenspinner {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 13vw;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.mobilespinner {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 13vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.projectname {
    font-weight: bold;
    margin-top: 0;
}

.projectproblems {
    opacity: 0.7;
    margin: 0 0 0.2em;
}

.projectsolutions {
    opacity: 0.7;
    margin: 1em 0 0.2em;
}

.projectparagraph {
    margin: 0;
    line-height: 1.6em;
    font-size: 1.1em;
}

.screeniframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1.6em;
    box-sizing: border-box;
    overflow: hidden;
    /* Ensure iframe inside foreignObject maintains size */
    iframe {
        width: 100%;
        height: 100%;
    }
}

.mobileiframe {
    width: 100%; /* Ensure it fills the mobile container */
    height: 100%;
    padding: 0.3em 0.5em 0; /* Adjusted padding for smaller size */
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 2.48em;
    overflow: hidden;
}

.controls {
    margin-top: 2em;
}

.link {
    font-size: 1.225em;
    color: rgb(166, 166, 166);
    text-decoration: none;
    font-weight: 300;
    transition: padding 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: rgb(44, 44, 44);
        background: rgb(217, 217, 217);
        padding: 0.135em;
        border-radius: 0.135em;
    }
}

.arrows {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.dots {
    display: flex;
    margin-top: 0.75em;
}

.dot {
    cursor: pointer;
    margin-right: 0.35em;
    width: 1.3em;

    &.active, &:hover circle {
        fill: rgb(217, 217, 217);
    }
}

.button {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 1em 2em;

    &:hover {
        background: silver;

        & path {
            fill: #1E1E1F;
        }
    }
}

.buttonleft {
    left: 0;
    transform: translateX(calc(-100% + 1em));
}

.buttonright {
    right: 0;
    transform: translateX(calc(100% - 1em));
}

.arrow {

}

.arrowleft {
    margin-left: -3em;
}

.arrowright {
    margin-right: -3em;
}

@media screen and (min-width: 1200px) {

    .title {
        margin: 1em 0 0 1.3em;
    }

    .disclaimer {
        display: block;
        width: 27.5em;
        margin-left: 4.1em;
    }

    .projects {
        flex-direction: row;
        padding: 0;
    }

    .controls {
        position: absolute;
        bottom: -1.25em;
        z-index: 2;
        margin-top: 0;
    }

    .projectdesc {
        display: flex;
        flex: 37.5% 1;
        flex-shrink: 0;
        flex-direction: column;
        color: white;
        padding: 3em 9.5em 0 3.5em;
    }

    .projectpreview {
        flex: 62.5% 0;
        height: auto;
        margin-right: 0;
        position: relative;
    }

    .screen {
        display: block;
    }

    .mobile {
        display: block;
    }

    .screeniframe {
        height: 100%;
    }
}

@media screen and (min-width: 1400px) {

    .screen {
        height: 60vh;
    }

    .screeniframe {

    }
}