
@use '../../layout/animations';
@use '../../layout/colours';

.index {
    height: 100%;
}

.header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 1.85em 4.25em;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;

    opacity: 0;
    animation: start-content animations.$introduration linear forwards;
    animation-delay: animations.$introduration * 3.33;
}

.logo { 
    width: 10em;
}

.headerctas {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.headercta {
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-size: 1.1235em;
    font-weight: 100;
    font-style: italic;
    
    &:hover {
        color: colours.$hoverwhite;
    }

    opacity: 0;

    animation: start-content animations.$introduration linear forwards;


    &:nth-child(1) {
        animation-delay: animations.$introduration * 5.66;
    }
    &:nth-child(2) {
        animation-delay: animations.$introduration * 5.33;
    }
    &:nth-child(3) {
        animation-delay: animations.$introduration * 4.99;
    }
    &:nth-child(4) {
        animation-delay: animations.$introduration * 4.66;
    }
}

.headerctaprimary {
    color: white;
    font-size: 1.35em;
    font-weight: 900;
}

@media screen and (max-width: 600px) {
    .headerctas {
        gap: 0.5em;
        flex-wrap: wrap;
    }
}


