
@use '../../layout/animations';
@use '../../layout/colours';

.index {
    height: 100%;
}

.header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 1.85em 4.25em;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;
}

.logo { 
    width: 10em;
}

.headercta {
    color: white;
    text-decoration: none;
    font-size: 1.35em;
    font-weight: 900;
    
    &:hover {
        color: colours.$hoverwhite;
    }
}

