@use './animations';
@use './colours';

html, body, #__next, #__next > div {
    height: 100%;
}

html {
    background: #000000;
}

body {
    margin: 0;
}

.scroll {
    width: 2em;
    position: fixed;
    bottom: 1.85em;
    left: 4.25em;
    cursor: pointer;
    z-index: 2;
    
    
}
.scroll:hover path {
    fill: colours.$hoverwhite;
}
.scroll-arrow {
    animation: bounce animations.$introduration / 1.25 linear infinite forwards;
}

.content {
    // Calculate height with javascript.
    height: 0;
    animation: start-content animations.$introduration linear forwards animations.$introduration;
    opacity: 0;
    overflow: hidden;
    
    background: linear-gradient(to bottom, #141B35, #000000);
}

.section {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

